version: 2.1
jobs:
 build:
   machine: true
   steps:
     - checkout
     # start proprietary DB using private Docker image
     # with credentials stored in the UI
     #- run: |
     #    docker login -u $DOCKER_USER -p $DOCKER_PASS

     # build the application image
     - run: ./scripts/deploy.sh
     
     # Run docker image
     - run: docker run dsomeone/nizadam:latest
workflows: # a single workflow with a single job called build
  build:
    jobs:
      - build:
          context: Docker